/**************************************************/
/*                      MAIN                      */
/**************************************************/
html, body {
    background-color: #FAF9F9;
    color: var(--color);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 1.54;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    overscroll-behavior-y: none;
}


/**************************************************/
/*                      STYLE                     */
/**************************************************/
main {width: 100%;}
.hidden {display: none!important;}
.responsive {display: none!important;}


/**************************************************/
/*                      GAME                      */
/**************************************************/
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;

    > div {
        max-width: 500px;
        width: calc(100% - 20px);
        margin: 0 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(135, 126, 117);
            margin-bottom: 10px;

            > div:first-child {
                > h1 {
                    font-size: 3em;
                    line-height: 1em;
                    font-weight: 700;
                    margin: 0;
                    color: rgb(119, 110, 101);
                }

                .footer {
                    margin-top: auto;
                    text-align: right;
                    font-size: 0.6em;
                    color: rgb(119, 110, 101);
                    margin: 0px 0;
                }
            }

            > div:last-child {
                display: flex;
                align-items: center;

                > div {
                    background-color: rgb(187, 173, 160);
                    padding: 3px 5px 2px;
                    text-align: center;
                    color: #fff;
                    font-weight: 800;
                    font-size: 1.2em;
                    border-radius: 5px;
                    min-width: 65.625px;

                    &::before {
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 600;
                        height: 13px;
                        font-size: 13px;
                        color: rgb(238, 228, 218);
                    }
                }
            }
        }
    }

    .table {
        position: relative;
        border-radius: 7px;
        background-color: rgb(187, 173, 160);

        .game-message {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;

            span {margin-bottom: 10px;}

            a {
                margin-top: 20px;
                border-radius: 7px;
                padding: 3px 10px;
                font-size: 0.6em;
                font-weight: 600;
                cursor: pointer;
                background: #8f7a66;
                color: #f9f6f2;

                &:first-child {margin-top: 0;}
            }
        }
            
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            font-size: 1.9em;
            font-weight: 900;
            color: rgb(119, 110, 101);

            &:last-child {margin-bottom: 0;}

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio : 1 / 1;
                margin-right: 15px;

                &:last-child {margin-right: 0;}
            }
        }
    }
}


/**************************************************/
/*                      2048                      */
/**************************************************/
.game_2048 {
    .title #score::before {content: "Score";}

    .table {
        padding: 15px;

        .game-message {
            margin: -15px;
            background-color: rgba(238, 228, 218, 0.75);
            align-self: center;
            justify-self: center;
        }
            
        > div > div {
            width: calc(100% / 4);
            border-radius: 5px;
            background-color: rgba(238, 228, 218, 0.35);
            color: #fff;

            &.nb-2 {
                background-color: rgb(237, 226, 221);
                color: #776e65;
            }
            &.nb-4 {
                background-color: rgb(235, 225, 203);
                color: #776e65;
            }
            &.nb-8 {background-color: rgb(233, 178, 131);}
            &.nb-16 {background-color: rgb(233, 151, 109);}
            &.nb-32 {background-color: rgb(230, 129, 105);}
            &.nb-64 {background-color: rgb(222, 99, 73);}
            &.nb-128 {background-color: rgb(232, 204, 128);}
            &.nb-256 {background-color: rgb(230, 220, 113);}
            &.nb-512 {background-color: rgb(232, 198, 104);}
            &.nb-1024 {background-color: rgb(232, 198, 104);}
            &.nb-2048 {background-color: rgb(232, 198, 104);}
        }
    }
}


/**************************************************/
/*                    NAVIGATION                  */
/**************************************************/
#touch {
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 231, 217);
    padding: 12px;
    border-radius: 22px;
    margin: 0;
    margin-top: 20px;
    width: max-content;

    > div {
        margin: 0 8px;

        &:first-child {margin-left: 0;}
        &:last-child {margin-right: 0;}

        > div:first-child {
            background-color: rgba(186, 172, 154, 0.3);
            padding: 8px;
            padding-bottom: 0;
            border-radius: 10px;
            color: #fff;

            &.active {
                background-color: rgb(186, 172, 154);
                box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(140, 100, 60, 0.12) 0px 5px 15px 0px, rgba(140, 100, 60, 0.09) 0px 2px 3px 0px, rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
                cursor: pointer;
            }
        }

        > div:last-child {
            display: flex;
            flex-direction: row;
            margin-top: 5px;

            > div {
                width: 50%;
                background-color: rgba(167, 155, 139, 0.3);
                border-radius: 10px;
                margin: 3px;
                height: 3px;

                &.active {
                    background-color: rgb(167, 155, 139);
                }
            }
        }
    }
}


/**************************************************/
/*                   RESPONSIVE                   */
/**************************************************/
@media (max-width: 684px) {
    body {
        overflow-y: scroll;
        flex-direction: column;
    }
    
    main {
        width: 100%;
        margin: 0;
        padding: 0!important;

        &.game {margin: auto!important;}
    }

    .hiddenResponsive {display: none;}
    .responsive {display: flex!important;}
}