/**************************************************/
/*                      MAIN                      */
/**************************************************/
html, body {
    background-color: #FAF9F9;
    color: var(--color);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 1.54;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    -webkit-font-smoothing: antialiased;
}


/**************************************************/
/*                      STYLE                     */
/**************************************************/
main {width: calc(100% - 100px);}


/**************************************************/
/*                     HEADER                     */
/**************************************************/
header {
    display: flex;
    flex-direction: column;
    width: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    > div:first-of-type {
        display: flex;
        justify-content: space-between;

        width: 100px;
        height: 88px;
        -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 5px 1px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

        i {
            margin: auto;
            font-size: 25px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: calc(100% - 88px);
        list-style: none;
        padding: 0;

        li a {
            display: flex;
            align-items: center;
            width: calc(100px - 3px);
            writing-mode: sideways-lr;
            font-weight: 200;
            padding: 20px 0;
            border-right: 3px solid #FAF9F9;
            cursor: pointer;
            text-transform: uppercase;
            color: inherit;
            text-decoration: none;
        
            &:hover {text-decoration: underline;}

            &.active {
                font-weight: 500;
                padding: 18px 0;
                border-right: 3px solid #000;
            }
        }
    }
}

main.content_home {
    
}





h1 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: absolute;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    color: #ff4d7f;
    font-size: 50px;
    letter-spacing: -0.225rem;
    background: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 0;
    -webkit-transition: font-size 250ms cubic-bezier(0.59, 0.04, 0.3, 1.43);
    transition: font-size 250ms cubic-bezier(0.59, 0.04, 0.3, 1.43);
}
   
h1:after {
    content: attr(data-letters);
    position: absolute;
    left: 0;
    z-index: 2;
    overflow: hidden;
    white-space: wrap;
    width: 100%;
    height: 100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #e3f7f0;
    background: #414B53;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 25% 0, 25% 100%);
    clip-path: polygon(100% 100%, 100% 0, 25% 0, 25% 100%);
}