/**************************************************/
/*                      MAIN                      */
/**************************************************/
html, body {
    background-color: #FAF9F9;
    color: var(--color);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 1.54;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    -webkit-font-smoothing: antialiased;
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}


/**************************************************/
/*                      STYLE                     */
/**************************************************/
main {width: calc(100% - 100px);}


/**************************************************/
/*                     HEADER                     */
/**************************************************/
header {
    display: flex;
    flex-direction: column;
    width: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    > div:first-of-type {
        display: flex;
        justify-content: space-between;

        width: 100px;
        height: 88px;
        -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 5px 1px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

        i {
            margin: auto;
            font-size: 25px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: calc(100% - 88px);
        list-style: none;
        padding: 0;

        li a {
            display: flex;
            align-items: center;
            width: calc(100px - 3px);
            writing-mode: sideways-lr;
            font-weight: 200;
            padding: 20px 0;
            border-right: 3px solid #FAF9F9;
            cursor: pointer;
            text-transform: uppercase;
            color: inherit;
            text-decoration: none;
        
            &:hover {text-decoration: underline;}

            &.active {
                font-weight: 500;
                padding: 18px 0;
                border-right: 3px solid #000;
            }
        }
    }
}

main.content_home {
    position: relative;

    h1 {
        position: absolute;
        top: 120px;
        left: calc(23% - 248px);
        font-size: 50px;
        font-weight: 400;
        line-height: 1.3;
        margin: auto;
        background: linear-gradient(to right,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.8) 73%,
            #fff 73%,
            #fff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
        span {
            display: inline-block;
            width: 40px;
        }

        &::after {
            display: block;
            content: "";
            margin-left: -14px;
            margin-top: 15px;
            width: 140px;
            height: 5px;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    > div {
        display: flex;
        flex-direction: row;
        height: 100%;

        > div:first-of-type {
            width: 23%;
            margin-top: 310px;
            
            div, p {
                padding: 0 20px 0 85px;
            }

            p {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        > div:last-of-type {
            background-color: #414B53;
            width: calc(100% - 23%);
        }
    }

}


  