/**************************************************/
/*                      MAIN                      */
/**************************************************/
html, body {
    background-color: #FAF9F9;
    color: var(--color);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 1.54;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    overscroll-behavior-y: none;
}


/**************************************************/
/*                      STYLE                     */
/**************************************************/
main {width: calc(100% - 100px);}
.hidden {display: none!important;}
.responsive {display: none!important;}


/**************************************************/
/*                     HEADER                     */
/**************************************************/
header {
    display: flex;
    flex-direction: column;
    width: 100px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    > div:first-of-type a:not(a.responsive), > nav div.responsive a {
        display: flex;
        justify-content: space-between;
        width: 100px;
        height: 88px;
        color: black;
        -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 5px 1px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

        i {
            margin: auto;
            font-size: 25px;
        }
    }

    nav {
        height: 100%;
        overflow-y: scroll;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: calc(100% - 30px);
            list-style: none;
            padding: 0;

            li a {
                display: flex;
                align-items: center;
                width: calc(100px - 3px);
                writing-mode: sideways-lr;
                font-weight: 200;
                padding: 20px 0;
                border-right: 3px solid #FAF9F9;
                cursor: pointer;
                text-transform: uppercase;
                color: inherit;
                text-decoration: none;
            
                &:hover {text-decoration: underline;}

                &.active {
                    font-weight: 500;
                    padding: 18px 0;
                    color: #414B53;
                    border-right: 3px solid #414B53;
                }
            }
        }
    }
}


/**************************************************/
/*                    HOME PAGE                   */
/**************************************************/
main.content_home {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;

    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 310px;
        margin: 20px auto;
        padding: 0 20px 0 40px;

        p {
            margin: auto 15px auto 40px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.5);
        }
        
        h1 {
            font-size: 45px;
            font-weight: 400;
            line-height: 1.3;
            margin: auto;
            color: rgba(0, 0, 0, 0.8);
            
            span {
                display: inline-block;
                width: 10px;
            }

            &::after {
                display: block;
                content: "";
                border-radius: 2px;
                margin-top: 15px;
                width: 140px;
                height: 5px;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    > div:last-child {
        background-color: #414B53;
        width: calc(100% - 310px);
    }

    .profile {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: max-content;
        margin: 20px 20px 0 auto;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        div {
            color: #fff;
            margin-left: 10px;
            font-size: 1.1em;
            font-weight: 200;
        }
    }

    footer {
        align-self: start;
        font-size: 0.7em;
        color: #414B53;
    }
}


/**************************************************/
/*                      GAME                      */
/**************************************************/
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    overflow-y: scroll;

    > div {
        max-width: 500px;
        width: calc(100% - 20px);
        margin: 0 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(135, 126, 117);

            > div {
                display: flex;
                align-items: center;

                a {
                    font-size: 1.2em;
                    margin-right: 15px;
                }

                > div {
                    background-color: rgb(187, 173, 160);
                    padding: 3px 5px 2px;
                    text-align: center;
                    color: #fff;
                    font-weight: 800;
                    font-size: 1.2em;
                    border-radius: 5px;
                    min-width: 65.625px;

                    &::before {
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 600;
                        height: 13px;
                        font-size: 13px;
                        color: rgb(238, 228, 218);
                    }
                }
            }

            h1 {
                font-size: 3em;
                font-weight: 700;
                margin: 0;
                color: rgb(119, 110, 101);
            }
        }
    }

    .table {
        position: relative;
        border-radius: 7px;
        background-color: rgb(187, 173, 160);

        .game-message {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;

            span {margin-bottom: 10px;}

            a {
                margin-top: 20px;
                border-radius: 7px;
                padding: 3px 10px;
                font-size: 0.6em;
                font-weight: 600;
                cursor: pointer;
                background: #8f7a66;
                color: #f9f6f2;

                &:first-child {margin-top: 0;}
            }
        }
            
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            font-size: 1.9em;
            font-weight: 900;
            color: rgb(119, 110, 101);

            &:last-child {margin-bottom: 0;}

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio : 1 / 1;
                margin-right: 15px;

                &:last-child {margin-right: 0;}
            }
        }
    }
}


/**************************************************/
/*                      2048                      */
/**************************************************/
.game_2048 {
    .title #score::before {content: "Score";}

    .table {
        padding: 15px;

        .game-message {
            margin: -15px;
            background-color: rgba(238, 228, 218, 0.75);
        }
            
        > div > div {
            width: calc(100% / 4);
            border-radius: 5px;
            background-color: rgba(238, 228, 218, 0.35);
            color: #fff;

            &.nb-2 {
                background-color: rgb(237, 226, 221);
                color: #776e65;
            }
            &.nb-4 {
                background-color: rgb(235, 225, 203);
                color: #776e65;
            }
            &.nb-8 {background-color: rgb(233, 178, 131);}
            &.nb-16 {background-color: rgb(233, 151, 109);}
            &.nb-32 {background-color: rgb(230, 129, 105);}
            &.nb-64 {background-color: rgb(222, 99, 73);}
            &.nb-128 {background-color: rgb(232, 204, 128);}
            &.nb-256 {background-color: rgb(230, 220, 113);}
            &.nb-512 {background-color: rgb(232, 198, 104);}
            &.nb-1024 {background-color: rgb(232, 198, 104);}
            &.nb-2048 {background-color: rgb(232, 198, 104);}
        }
    }
}


/**************************************************/
/*                     MORPION                    */
/**************************************************/
.game_morpion {
    .title #nbGame::before {content: "Parties";}

    #score {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        margin-bottom: 15px;
        background-color: rgb(187, 173, 160);
        padding: 3px 5px;
        border-radius: 5px;

        > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 150px;
            margin-right: 15px;
            max-width: calc(50% - 15px - 2 * 10px);
            padding: 2px 10px;
            border-radius: 5px;
            font-weight: 900;
            color: #fff;
            
            &.play-1 {background-color: rgb(230, 129, 105, 0.4);}
            &.play-2 {background-color: rgb(232, 198, 104, 0.45);}

            &::before {
                display: block;
                content: "Joueur 1";
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 13px;
                color: rgb(238, 228, 218);
            }

            &:last-child {
                margin-left: 15px;
                flex-direction: row-reverse;

                &::before {content: "Joueur 2"}
            }
        }
    }

    .table {
        padding: 0;

        .game-message {
            margin: 0;
            background-color: #faf9f9ee;

            a {
                background: #8f7a66;
                color: #f9f6f2;
            }
        }
            
        > div {
            > div {
                width: calc(100% / 3);
                background-color: #FAF9F9;

                i.fa-circle {
                    font-size: 2em;
                    color: rgb(230, 129, 105);
                }

                i.fa-xmark {
                    font-size: 2em;
                    color: rgb(232, 198, 104);
                }
            }
        }
    }
}


/**************************************************/
/*                     FOOTER                     */
/**************************************************/
footer {
    margin-top: auto;
    text-align: right;
    font-size: 0.6em;
    color: rgb(119, 110, 101);
    margin: 5px 0;
}


/**************************************************/
/*                   RESPONSIVE                   */
/**************************************************/
@media (max-width: 684px) {
    body {
        overflow-y: scroll;
        flex-direction: column;
    }

    header {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;

        a.responsive {
            color: rgb(119, 110, 101);
            font-size: 1.2em;
            font-weight: 700;
            margin: 7px 20px;
            text-decoration: none;

            i {font-size: 1.1em;}
        }
        > div a:not(a.responsive) {display: none!important;}

        nav {
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            position: absolute;
            background-color: #FAF9F9;
            top: 0;
            left: 0;
            margin: 0;
            width: 100px;
            height: 100%;
            z-index: 2;
        }
    }
    
    main {
        width: 100%;
        margin: 0;
        padding: 0!important;

        &.content_home {
            display: block;

            > div:first-child {
                display: block;
                width: 100%;
                margin: 0;
                padding: 20px 0;

                p {
                    margin: 30px 20px 0;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.5);
                }
                
                h1 {
                    font-size: 45px;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: auto 20px;
                    color: rgba(0, 0, 0, 0.8);
                    
                    span {
                        display: inline-block;
                        width: 10px;
                    }

                    &::after {
                        display: block;
                        content: "";
                        border-radius: 2px;
                        margin-top: 15px;
                        width: 140px;
                        height: 5px;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            > div:last-child {
                width: 100%;
            }

            .profile {
                margin: 10px 20px 100px auto;

                div {color: black;}
            }
        }

        &.game {margin: auto!important;}
    }

    .hiddenResponsive {display: none;}
    .responsive {display: flex!important;}
}